body {
    color: $white;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.back {
    a {
        color: $white;
        text-decoration: none;
    }
}

.preview,
figcaption {
    h3,
    h4 {
        margin-top: 0;
        margin-bottom: 5px;
        color: $white;
        font-size: 15px;
        text-decoration: none;

        &.out {
            text-decoration: line-through;
        }
    }

    a,
    span {
        color: $white;
        font-size: 15px;
    }
}
